/* You can add global styles to this file, and also import other style files */
@import './css/normalize.css';
@import './css/mixin.scss';

html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {
	app-root {
		width: 100%;
	}
}


@media (min-width: 768px) and (max-width: 1200px) {
	body {
		app-root {
			width: 768px;
		}
	}
}

@media (min-width: 1200px) {
	body {
		app-root {
			width: 1200px;
		}
	}
}

.center {
	@include center;
}